* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f2f3f5;
  --border-color: #2abd67;
  --main-color: #ececec;
  --footer-background-color: #c2d8b7;
  --header-color: white;
  --font-family: sans-serif;
  --horizontal-rule: #cc98ff;
  --main-header-bgColor: #308c56d6;
  --nav-header: rgb(1, 134, 1);
  --nav-bg: white
}
.dark {
  --background-color: #22303c;
  --border-color: #1f8d4d;
  --main-color: #192734;
  --footer-background-color: #22303c;
  --header-color: white;
  --font-family: sans-serif;
  --horizontal-rule: white;
  --main-header-bgColor: #308c56d6;
  --nav-header: rgb(255 255 255);
  --nav-bg: #15202b;
  --task-border: white;
  --title-color: white;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  font-family: var(--font-family);
}

/* HEADER STYLING */
header {
  --header-height: min-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: var(--header-height);
  border-bottom: 2px solid var(--border-color);
  background-color: var(--background-color);
}

/* MAIN BODY STYLING */
main {
  flex: 1;
  display: flex;
}
img {
  width: 50px;
  height: 50px;
}

/* Nav Styling */
main > nav {
  padding: 20px;
}
.nav {
  border-radius: 25px;
  flex: 1;
  background-color: var(--nav-bg);
  border-radius: 0;
}
.nav-hidden {
  position: absolute;
  visibility: hidden;
}

/* List styling */
ul {
  margin-top: 15px;
}
li {
  list-style-type: none;
  display: flex;
  align-items: center;
  line-height: 40px;
  padding: 0 10px 0 10px;
  background-color: rgba(160, 224, 187, 0.6);
  margin-top: 5px;
  border-radius: 10px;
  cursor: pointer;
  min-width: max-content;
}
li:hover {
  box-shadow: 0px 2px 2px black;
  background-color: #afe9c7dc;
}
li > img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* Horizontal Rule */
hr {
  margin: 10px 0 0;
  border: 1.5px solid black;
}

/* Projects and form styling */
.project {
  margin-top: 20px;
}
.input-container {
  display: flex;
  gap: 10px;
}
.input-Li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: white;
  cursor: default;
}
.input-Li:hover {
  background-color: white;
  box-shadow: none;
}
.button-class > button {
  padding: 5px 10px;
  border: none;
  background-color: red;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.button-class {
  display: flex;
  margin-top: 5px;
  position: relative;
}
.button-class > button:last-of-type {
  background-color: var(--border-color);
  position: absolute;
  right: 0px;
}
.button-class > button:first-child {
  position: relative;
  left: 30px;
}
.input-container > input {
  outline: none;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
}
.input-container > input:focus {
  outline: none;
  border: 1px solid purple;
  padding: 5px;
}
.home > h2:first-child > img,
.project > h2:first-child > img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.input-container > img {
  height: 20px;
  width: 20px;
  margin: 0;
}
.projects {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 45px;
  padding-right: 30px;
  min-width: max-content;
}
.projects > div > img {
  width: 24px;
  height: 24px;
  position: relative;
  top: 7px;
}
.projects > div {
  position: absolute;
  right: 5px;
}
.projects > img:last-of-type {
  position: absolute;
  top: 7px;
  left: 10px;
}
.project-list {
  position: relative;
}

/* Edit details pop-up styling */
.delete-edit-div {
  background-color: var(--background-color);
  position: absolute;
  right: 0;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 0px black;
}
.delete-edit-task {
  background-color: var(--background-color);
  position: absolute;
  right: 0;
  bottom: 38px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 0px black;
}
.delete-edit-div > p {
  padding: 4px 10px;
}
.delete-edit-task > p {
  padding: 12px 10px;
}
.delete-edit-div > p:first-child:hover {
  color: rgb(78, 0, 78);
  background-color: rgba(162, 198, 142, 0.3);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.delete-edit-task > p:first-child:hover {
  color: rgb(78, 0, 78);
  background-color: rgba(162, 198, 142, 0.3);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.delete-edit-div > p:last-child:hover {
  color: red;
  background-color: rgba(162, 198, 142, 0.3);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.delete-edit-task > p:last-child:hover {
  color: red;
  background-color: rgba(162, 198, 142, 0.3);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.name-input {
  flex: 1;
}

/* Main section styling */
h2 {
  color: var(--nav-header);
}
.mainSection {
  padding: 30px 40px;
  background-color: var(--main-color);
  flex: 3;
}
.mainHeader {
  padding: 15px 50px;
  background-color: var(--border-color);
  border-radius: 5px;
  box-shadow: 0px 2px 2px black;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
h1 {
  font-size: 2rem;
  color: var(--header-color);
}

/* Task input form styling */
.add-task-section {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.add-task-button {
  background-color: inherit;
  width: 120px;
}
.add-task-button:hover {
  border-radius: 10px;
  background-color: rgba(153, 52, 153, 0.1);
  box-shadow: none;
}
.task-input-form {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: default;
}
.task-input-form:hover {
  box-shadow: none;
  background-color: white;
}
.task-input-form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: normal;
  margin: 0 0 10px;
}
.task-input-form > div:last-child {
  flex-direction: row;
  width: min-content;
  margin: 0 auto;
}
textarea {
  height: 60px;
  resize: none;
  border-radius: 10px;
  outline: none;
  border: 1px solid grey;
  padding: 2px 10px;
}
.task-input-form > div > input {
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: 1px solid grey;
  padding: 2px 10px;
}
.btn-class > button {
  padding: 5px 10px;
  border: none;
  background-color: red;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px;
}
.task-input-form > div > input:focus,
textarea:focus {
  border: 1px solid purple;
}
.btn-class {
  display: flex;
  margin-top: 5px;
}
.btn-class > button:last-of-type {
  background-color: var(--border-color);
}
label {
  font-weight: 400;
}
.new-task {
  background-color: rgba(153, 52, 153, 0.05);
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 5px 50px;
  align-items: center;
  gap: 10px;
  line-height: 1;
  border: 1px solid;
}
.new-task:hover {
  background-color: rgba(42, 189, 103, 0.02);
  box-shadow: none;
}
.task-div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  height: min-content;
  top: 5px;
  left: 5px;
}
.task-div > img:first-child {
  position: absolute;
  width: 25px;
  height: 25px;
}
.task-div > img:last-child {
  width: 25px;
  height: 25px;
}
.title-and-desc-div > h2 {
  font-size: 0.9rem;
  color: black;
}
.title-and-desc-div > p {
  font-size: 0.8rem;
  margin-top: 1px;
  color: #392929;
}
.star-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  width: min-content;
  position: absolute;
  right: 25px;
}
.star-div > img:first-child {
  position: absolute;
  height: 25px;
  width: 25px;
}
.star-div > img:last-child {
  height: 20px;
  width: 20px;
}
.date-span > p {
  border: 1px solid #0000002e;
  border-radius: 10px;
  height: min-content;
  width: max-content;
  padding: 2px 6px 0px;
  text-align: center;
}
.uncheck {
  visibility: hidden;
}
.checked-star,
.done-task {
  visibility: hidden;
}
.check,
.done {
  visibility: visible;
}
.line-through {
  text-decoration: line-through;
  color: grey;
}
.date-span {
  position: relative;
}
.my-task-dots {
  width: 25px;
  height: 25px;
}
.date-and-span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hidden {
  position: absolute;
  display: flex;
  align-items: center;
  visibility: hidden;
}

/* FOOTER STYLING */
footer {
  --footer-height: min-content;

  height: var(--footer-height);
  margin-top: auto;
  text-align: center;
  padding: 10px;
  background-color: var(--footer-background-color);
}